<!-- <div class="masthead">
	<ul class="nav nav-pills pull-right"><br>
		<li><%#= link_to 'Students', students_path %></li>
		<li><%#= link_to 'Teams', teams_path %></li>
		<li><%#= link_to 'Brackets', brackets_path %></li>
		<li><%#= link_to 'Tournaments', tournaments_path %></li>
	</ul>
	<%#= link_to image_tag('boblogo.png'), home_path %>
</div> -->

<!-- <div class="container">
    <div class="masthead">
      <ul class="nav nav-pills pull-right"><br>
        <li><%#= link_to 'Students', students_path %></li>
		<li><%#= link_to 'Teams', teams_path %></li>
		<li><%#= link_to 'Brackets', brackets_path %></li>
		<li><%#= link_to 'Tournaments', tournaments_path %></li>
      </ul>
      <%#= link_to image_tag('boblogo.png'), home_path %>
       <h3 class="muted">Project name</h3> 
    </div> -->


   <!--  <select>
      <option value="last_name">Last Name</option>
      <option value="first_name">First Name</option>
      <option value="school">School</option>
      <option value="household">Household</option>
      <option value="missingdocs">Missing Documents</option> -->
      <!-- <option value="audi">Audi</option> -->
   <!--  </select>

    <div class="row">
      <div class="col-sm-3">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar"> -->
            <!-- <img alt="" src="http://lorempixel.com/100/100/people/9/"> -->
          <!-- </div>
          <div class="info">
            <div class="title">
              <a href="http://scripteden.com/">Pranita R.</a>
            </div>
            <div class="desc">Female</div>
            <div class="desc">Bracket: 13-15</div>
            <div class="desc">Allergic to Bees</div>
          </div>
        </div>

      </div> -->

   <!--  </div> -->

      <!-- <div class="col-sm-3">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar"> -->
            <!-- <img alt="" src="http://lorempixel.com/100/100/people/9/"> 
          </div>
          <div class="info">
            <div class="title">
              <a href="http://scripteden.com/">Pranita R.</a>
            </div>
            <div class="desc">Female</div>
            <div class="desc">Bracket: 13-15</div>
            <div class="desc">Allergic to Bees</div>
          </div>
        </div>

      </div>

      <div class="col-sm-3">

         <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/"> 
          </div>
          <div class="info">
            <div class="title">
              <a href="http://scripteden.com/">Pranita R.</a>
            </div>
            <div class="desc">Female</div>
            <div class="desc">Bracket: 13-15</div>
            <div class="desc">Allergic to Bees</div>
          </div>
        </div>

      </div> -->

      <!-- <div class="col-sm-3">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar"> -->
            <!-- <img alt="" src="http://lorempixel.com/100/100/people/9/"> -->
         <!--  </div>
          <div class="info">
            <div class="title">
              <a href="http://scripteden.com/">Pranita R.</a>
            </div>
            <div class="desc">Bracket: 13-15</div>
            <div class="desc">Allergic to Bees</div>
          </div>
        </div>

      </div> -->

  <!-- </div> -->