<!-- <div class="masthead">
	<ul class="nav nav-pills pull-right"><br>
		<li><a href="details.html">Students</a></li>
		<li><a href="#">Teams</a></li>
		<li><a href="#">Brackets</a></li>
		<li><a href="#">Tournaments</a></li>
	</ul>
	<img src = "bootstrap/img/boblogo.png"/>
</div> -->