<div class="container">
<div class="masthead">
 <center> <%= link_to image_tag('boblogo.png'), home_path %>
  <!-- <ul class="nav nav-pills pull-right"><br> -->
    <h1 class="font">Project C.H.U.C.K. 2015</h1> </center>

    
    <!-- <li><%#= link_to 'Students', students_path %></li>
    <li><%#= link_to 'Teams', teams_path %></li>
    <li><%#= link_to 'Brackets', brackets_path %></li>
    <li><%#= link_to 'Tournaments', tournaments_path %></li> -->
  <!-- </ul> -->
  
</div>
<hr>
</div>
