<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<%= link_to image_tag('boblogo.png'), home_path %>
		</div>
		<div class="col-xs-6 col-sm-6">
			<h1 class="headerfont">Project C.H.U.C.K. 2015</h1>
		</div>
	</div>
</div>
<hr>
