<%#= render :partial => 'partials/admin_nav' %>
<div class="container">
  <!-- <div class="row">
    <div class="col-sm-12">
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-2">
  <div class="masthead">
    <ul class="nav nav-pills nav-stacked"><br>
      <!-- link_to(image_tag('edit.png'), edit_location_path(location)) -->
      <!-- <li><%= link_to (image_tag('maleuser64.png')), students_path %></li> -->
      <li><%= link_to 'Teams', teams_path %></li>
      <li><%= link_to 'Brackets', brackets_path %></li>
      <li><%= link_to 'Tournaments', tournaments_path %></li>
    </ul>
    <!-- <h3 class="muted">Project name</h3> -->
  </div>
</div>

  <!-- <h3>Welcome back, Tasha<%#= current_user.instructor.proper_name %>!</h3> -->
 <div class="col-sm-10">
  <div class="jumbotron">
    <h2>Welcome, Tasha!</h2>
    <p class="lead">Here are the most recent Project C.H.U.C.K. updates!</p>
        <!-- #total registrations
        #female icon - female reg numbers
        #male icon - male reg members -->
      </div>
    </div>
      <!-- div class="row-fluid marketing">
        <div class="span6">
          <h4>By Bracket</h4>
          <p>7-9: 49</p>
          <p>9-11: 37</p>
          <p>11-13: 49</p>
        </div>

        <div class="span6">
          <h4>Registration Statistics</h4>
          <img src="http://www.excelcharts.com/blog/wp-content/uploads/2011/11/pie-chart-hole2.png">
        </div>
      </div> -->
    </div>
</div>


