<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h2>Welcome, <%= current_user.volunteer.first_name %>!</h2>
        <p class="lead">Here are the most recent Project C.H.U.C.K. updates!</p>
        <br>
        <center><p id="update">There are currently <b><%= Student.all.count %></b> students registered for Project CHUCK</p></center>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Demographics</h3>
        <%= high_chart("my_id1", @gender_chart) %>
      </div>
    </div>
  </div>
