<%#= render :partial => 'partials/admin_nav' %>
<div class="container">
<!-- <h3>Welcome back, Tasha<%#= current_user.instructor.proper_name %>!</h3> -->

      <div class="jumbotron">
        <h2>Welcome, Tasha!</h2>
        <p class="lead">Here are the most recent Project C.H.U.C.K. updates!</p>
        <!-- #total registrations
        #female icon - female reg numbers
        #male icon - male reg members -->
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>By Bracket</h4>
          <p>7-9: 49</p>
          <p>9-11: 37</p>
          <p>11-13: 49</p>
        </div>

        <div class="span6">
          <h4>Registration Statistics</h4>
          <img src="http://www.excelcharts.com/blog/wp-content/uploads/2011/11/pie-chart-hole2.png">
          <!-- <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->
        </div>
      </div>
  </div>


