<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h2>Welcome, <%= current_user.volunteer.first_name %>!</h2>
        <p class="lead">Here are the most recent Project C.H.U.C.K. 2015 updates!</p><br>
        <center><p id="update">There are currently <b><%= Student.active.count %></b> students registered. </p></center>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-8"> 
      <h3>Distribution of Registered Students</h3>
      <%= high_chart("my_id1", @gender_chart) %>
    </div> 
    <div class="col-sm-4">
      <h3>Students Not on a Team</h3>
      <%= render :partial => 'unassigned' %>
    </div>
  </div>
</div>