<br><br>
<div class = "row">
	<div class= "col-sm-2">
		<%= image_tag 'projectChuckLogo.jpg' %>
	</div>
	<div class= "col-sm-10">
		<h1>Welcome to Project C.H.U.C.K. 2015 Registration!</h1><br>
		<h2>Are you new to Project C.H.U.C.K.?</h2>
			<%= link_to 'Click here to register', 'home/form' %><br> 
		<h2>Are you a returning member?</h2>
			<h3>Click here to update your information.</h3>
	</div>
</div>
