
<br> <br>
<div class = "row">

  <div class= "col-xs-6 col-sm-6">
    <center>
      <%= image_tag "basketball-64.png" %> <br><br>
      <p id="homebutton">STUDENTS</p>
      <%= link_to 'Register', registerstudent_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
  <div class= "col-xs-6 col-sm-6">
    <center>
      <%= image_tag "home-64.png" %> <br><br>
      <p id="homebutton">HOUSEHOLDS</p>
      <%= link_to 'Register', registerhousehold_path, :class => 'btn btn-primary btn-lg outline' %>
    </center>
  </div>
</div>

<br><br>
