
<br> <br>
<div class = "row">

  <div class= "col-xs-6 col-sm-6">
    <center>
      <%= image_tag "basketball-64.png" %> <br><br>
      <p id="homebutton">STUDENTS</p>
      <%= link_to 'Register', registerstudent_path, :class => 'btn btn-primary btn-lg outline' %> <br><br>
    </center>
  </div>
  <div class= "col-xs-6 col-sm-6">
    <center>
      <%= image_tag "icon_coach.png" %> <br><br> 
      <p id="homebutton">VOLUNTEERS</p>
      <%= link_to 'Register', registervolunteer_path, :class => 'btn btn-primary btn-lg outline' %>
    </center>
  </div>
</div>

<br><br>
