<div class="container">
  <table class="table">
   <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Age</th>
      <th></th>
      <th></th> -->
    </tr>
  </thead> 

  <tbody>
   <% @unassigned_rospots.each do |roster_spot| %>
   
   <tr>
    <% if roster_spot.student.gender == "Male"%>
    <td class="boy"><%= link_to roster_spot.student.proper_name, roster_spot %></td>
    <%else%>
    <td class="girl"><%= link_to roster_spot.student.proper_name, roster_spot %></td>
    <%end%> 
    <!-- <td><%= student.age %></td> -->
    <!-- <td><%#= link_to(image_tag('edit.png'), edit_student_path(student)) %></td> -->
    <!-- <td><%#= link_to(image_tag('delete.png'), student, method: :delete, data: { confirm: 'Are you sure?' }) %></td> -->
  </tr>
  <% end %>
</tbody>
</table>

<%= will_paginate @unassigned_rospots %>

</div>