
    <p>The AMCC Chess Camps are focused on teaching students the age-old art of chess, a game of strategy and quick thinking - an intense battle of the minds. <br><br>

	OUR MISSION: It is the mission of AMCC Chess Camps, a private chess education organization, to maintain a formal program of instruction to teach the game of chess and to promote and support its educational program through community outreach and local and national partnerships to increase the awareness of the educational value of chess.<br><br>

	Here are a few examples of our curriculums: <br>
	-Principles of Chess <br>
	-How to Become a Grandmaster in 30 days <br>
	-The Likeness of Chess and Life <br>
	-How Do Chess Pieces Move? <br>
	-Mastering Chess Tactics <br>
	-Endgame Principles <br>
	-Nimzo-Indian Defense <br></p>
 