<!-- <div class= "col-sm-2">
	<%#= image_tag 'projectChuckLogo.jpg' %>
</div>
<div class= "col-sm-10">

	<div data-role="collapsible-set">
		<div data-role="collapsible">
			<h3>Parent/Guardian Information</h3>
			<p>I'm the collapsible content for section 1</p>
			<%#= render :partial => "students/form" %>
		</div>
		<div data-role="collapsible">
			<h3>Student Information</h3>
			<p>I'm the collapsible content for section 2</p>
			<%#= render :partial => "households/form" %>
		</div>
		<div data-role="collapsible">
			<h3>LALALA SECTION</h3>
			<p>I'm the collapsible content for section 3</p>
			<%#= render :partial => "guardians/form" %>
		</div>
	</div>	
</div> -->

<%= render :partial => 'admin_home' %>

