 <center><h3>Notifications</h3></center>
 <div id="filterrific_results"> 
  <div class="container well">
  <table class="table">
   <thead>
    <tr>
      <th>Task</th>
      <th>Item</th>
      <th>Student</th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |studentStatus| %>
    
   
    <tr>
      <td>Tasks Here</td>
      <td>Items Here</td>
      <td>Students Here</td>
    </tr>
  <% end %>
</tbody>
</table>

<%# will_paginate students %>