 <center><h3>Notifications</h3></center>
 <div id="filterrific_results"> 
  <div class="container well">
  <table class="table">
   <thead>
    <tr>
      <th>Task</th>
      <th>Item</th>
      <th>Student</th>
    </tr>
  </thead> 

  <tbody>
   <% @students.each do |studentStatus| %>
    <% student = studentStatus[0] %>
    <% item = studentStatus[1] %>
    <% status = studentStatus[2] %>
   
    <tr>
      <td><%= status=="no_pic" ? "Remind" : "Checkoff" %></td>
      <td><%= item=="bc" ? "Birth Certificate" : item=="rc" ? "Report Card" : item=="poi" ? "Proof of Insurance" : "Physical" %></td>
      <td><%= student.proper_name %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%# will_paginate students %>