*, thead, tbody{
  font-family: 'Open Sans', sans-serif;
 }

 #homebutton{
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
 }

 a:hover { 
    background-color: yellow;
}

.container.formcon{
  border: 8px solid #0D80C5;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
}

 .container .jumbotron{
 background-color: white;
 }

  .jumbotron {
  	height: 150px;
  	margin-top: 0;
  	margin-bottom: 10px;
    padding:0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 1.5em;
    line-height: 1;
  }

  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  select{
    text-align: center;
  }

  button{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  }

  .btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #057ABF;
    color: #057ABF;
}

  .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #F5CF0A;
    border-color: #F5CF0A;
    background-color: #057ABF;
}
.button.tiny{
  font-size: 1.5em;
}
/*.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
    box-shadow: none;
}*/