*, thead, tbody{
  font-family: 'Open Sans', sans-serif;
 }

 #update{
  font-size: 1.25em;
 }

 #homebutton{
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
 }

.container .formcon{
 /* border: 2px solid #0D80C5;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;*/
}

 .container .jumbotron{
 background-color: white;
 }

  .jumbotron {
  	height: 200px;
  	margin-top: 0;
  	margin-bottom: 10px;
    padding:0;
    text-align: center;
  }
  .jumbotron h1 {
    font-size: 1.5em;
    line-height: 1;
  }

  .marketing {
    margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }

  /*.field{
    font-size:1.2em;
  }*/
  .reduce{
    width: 75%;
  }

  select{
    text-align: center;
  }

  button{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0em;
  }

  .btn{
    /*display:block;*/
    width:100%;
  }

  input.btn{
    /*display:block;*/
    width:100%;
  }

  .btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #057ABF;
    color: #057ABF;
}

  .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #F5CF0A;
    border-color: #F5CF0A;
    background-color: #057ABF;
}
.button.tiny{
  font-size: 1.5em;
  color: #057ABF;
}
a.button {
  /*background: transparent url('bg_button_a.gif') no-repeat scroll top right;*/
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}
a:hover.ui-link{
  background-color:transparent;
}
#details_name{
  font-size: 2.0em;
}
/*input{
  width:100%;
}*/

body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
}
/*.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: white;
    color: white;
    box-shadow: none;
}*/

.boy{
  border-left: 2px solid DeepSkyBlue;
/*border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;*/
}

.girl{
  border-left: 2px solid HotPink;
/*border-radius: 10px;*/
/*margin-top: 15px;
margin-bottom: 15px;*/
}

.headerfont{
  font-size: 2.5em;
  float: right;
}

li{
  font-size: 1.3em;
}
hr{
  width: 90%;
}
.widthfit{
  width: 90%;
}